// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

//@import "../node_modules/bootstrap/scss/bootstrap";
@import "../libs/bootstrap/scss/bootstrap";
// Then add additional custom code here

#nose{
    background-color:darkgray;
    
}
#nose1{
    background-color: darkgray;
    height: 100px;
    
}

.bi{
    width: 500px;
    height: 500px;
    
}
.no{
    width: 500px;
    height: 300px;
}
.noi{
    width: 300px;
    height: 200px;

}
.noi1{
    width: 300px;
    height: 200px;
}
.noi2{
    width: 300px;
    height: 200px;
}
.noi3{
width: 300px;
height: 200px;
}